.sticky-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}
  
.sticky-component {
    width: 300px; /* Adjust as needed */
    padding: 20px;
    background-color: rgb(196, 171, 171);
    border: 1px solid gray;
    transition: position 0.3s ease-in-out;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
}
  
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
  