body {font-family: "Lato", sans-serif;}

.container {
    display: flex;
}

.tabLink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: fit-content;
    min-width: 150px;
}

.tabLink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabContent {
    color: white;
    padding: 14px 50px;
    text-align: center;
}

#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}